# for the server
PORT=3000
HOST=localhost
NODE_ENV=dev


# for the bdd
DB_CONN="mongodb://root:rootpassword@localhost:27017/?authSource=admin&readPreference=primary&ssl=false&directConnection=true"
DB_NAME="Ramen"


# for the autentificacion token